@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');


*{
    margin: 0;
    padding: 0;
    /*background-color: black;*/
    box-sizing: border-box;
}
html{
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}
html::-webkit-scrollbar{
    width: .8rem;
}
header{
    width: 100vw;
    height: 90px;
    background-color: black;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.5em;
    position: fixed;
    top: 0;
    border-bottom: 1px solid #13131a;
}
header nav a:hover{
    cursor: pointer;
    color: rgb(243, 157, 130);
    text-decoration: underline;
}
nav{
    width: 700px;
    display: flex;
    justify-content: space-evenly;
}
a{
    text-decoration: none;
    color: white;
}
#icon{
    width: 60px;
    display: flex;
    justify-content: space-evenly;
}
i{
    color: white;
}
.home{
    width: 100vw;
    height: 550px;
    display: flex;
    /*align-items: center;*/
    background-image: url(./images/home-img.jpeg);
    background-position: center;
    background-size: cover;
    color: white;
    margin-top: 90px;
}
.home .details{
    max-width: 60rem;
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 700px;
}
.home .details #tittle{
    font-size: 3.5rem;
    text-transform: uppercase;
    color:#fff;
    
}
.home .details .button{
    margin-top: 50px;
    width: 200px;
    height: 50px;
    color: #fff;
    font-size: 1.7rem;
    background-color: rgb(243, 157, 130);
}
.home .details .button:hover{
    cursor: pointer;
    transform-origin: 0%;
    transform: perspective(1);
}
.about{
    background-color: black;
    color: white;
    height: 600px;

}
.about h1{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about_details{
    margin: auto 100px ;
    display: flex;
}
.about .about_details .about_img{
    width: 60%;
    height: 450px;
}
.about .about_details .about_img img{
    width: 100%;
    height: 100%;
}
.about .about_details .about_content{
    width: 60%;
    background-color: #13131a;
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
}
.about .about_details .about_content h3{
    color: #fff;
    font-size: 2rem;
    margin-bottom: 20px;
}
.about .about_details .about_content p{
    color: #fff;
    font-size: 1.2rem;
    line-height: 30px;
    margin-bottom: 20px;
}
.about .about_details .about_content .button{
    display: inline-block;
    background-color: rgb(243, 157, 130);
    width: 150px;
    height: 45px;
    color: #fff;
    font-size: 1.2rem;
}
.about .about_details .about_content .button:hover{
    cursor: pointer;
    letter-spacing: .2rem;
}
.menu{
    background-color: black;
}
.menu .menu_tittle{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: #fff;
    font-size: 2.5rem;
}
.menu .menu_content{
    display: flex;
    flex-wrap: wrap;
    margin: auto 100px;
}
.menu .menu_content div{
    width: 350px;
    height: 300px;
    margin: 10px;
    padding-top: 30px;
    text-align: center;
    background-color: black;
    color: #fff;
    border: 1px solid #13131a;
    line-height: 40px;
}
.menu .menu_content div .button{
    background-color: rgb(243, 157, 130);
    width: 150px;
    height: 45px;
    color: #fff;
    font-size: 1.2rem;
}
sub{
    text-decoration: line-through;
}
.menu .menu_content div:hover{
    background-color: #fff;
    color: black;
    .button{
        color: black;
    }
}
.products{
    background-color: black;
}
.products .products_tittle{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: #fff;
    font-size: 2.5rem;
}
.products .products_content{
    display: flex;
    flex-wrap: wrap;
    margin: auto 100px;
}
.products .products_content div{
    height: 500px;
    width: 350px;
    border: 1px solid #13131a;
    margin: 10px;
    color: #fff;
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    margin-top: 30px;
}
.products .products_content .one div{
    width: 50px;
    height: 50px;
    border: 1px solid #13131a;
}
.products .products_content .two div{
    width: 50px;
    height: 50px;
    border: 1px solid #13131a;
}
.products .products_content .three div{
    width: 50px;
    height: 50px;
    border: 1px solid #13131a;
}
.products .products_content div span{
    width: 170px;
    height: 300px;
    text-align: center;
    line-height: 30px;
    margin-top: 0px;
}
.products .products_content div span i{
    color: rgb(243, 157, 130);
}
.review{
    background-color: black;
}
.review .review_content{
    display: flex;
    flex-wrap: wrap;
    margin: auto 100px;
}
.review .review_content .one{
    height: 400px;
    width: 350px;
    border: 1px solid #13131a;
    margin: 20px;
    padding: 10px;
    color: #fff;
    display: flex;
    justify-content:center;
    text-align: center;
    flex-wrap: wrap;
    margin-top: 30px;
}
.review .review_content .two{
    height: 400px;
    width: 350px;
    border: 1px solid #13131a;
    margin: 10px;
    padding: 20px;
    color: #fff;
    display: flex;
    justify-content:center;
    text-align: center;
    flex-wrap: wrap;
    margin-top: 30px;
}
.review .review_content .three{
    height: 400px;
    width: 350px;
    border: 1px solid #13131a;
    margin: 10px;
    padding: 20px;
    padding-bottom: 10px;
    color: #fff;
    display: flex;
    justify-content:center;
    text-align: center;
    flex-wrap: wrap;
    margin-top: 30px;
}
.review .review_tittle{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: #fff;
    font-size: 2.5rem;
}
.review .review_content div .user{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.review .review_content div i{
    color: rgb(243, 157, 130);

}
.review .review_content div .quote{
    width: 50px;
    height: 50px;
}
.review .review_content div span{
    width: 170px;
    height: 300px;
    text-align: center;
    line-height: 30px;
    margin: 20px auto;
}
.contact{
    background-color: black;
}
.contact .contact_tittle{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: #fff;
    font-size: 2.5rem;
}
.contact .contact_detail{
    display: flex;
    flex-wrap: wrap;
    background-color:#13131a;
    margin: auto 100px;
}
.contact .contact_detail .map{
    width: 550px;
    height: 400px;
}
.contact .contact_detail form{
    width: 550px;
    height: 400px;
    margin-left: 20px;
    align-items: center;
    text-align: center;
}
.contact .contact_detail form .input{
    display: flex;
    margin-top: 1rem;
    margin-bottom: 1rem;
    align-items: center;
    border: 1px solid rgba(255,255,255,.3);
}
.contact .contact_detail form .input span{
    color:#fff;
    font-size: 2rem;
    padding-left: 10px;
}
.contact .contact_detail form .input input{
    width: 100%;
    padding:1rem;
    font-size: 1.7rem;
    color: #fff;
    background: none;
    border: none;
    text-transform: none;
}
.contact .contact_detail form .btn{
    width: 200px;
    height: 50px;
    font-size: 1.2rem;
    color: white;
    background-color: rgb(243, 157, 130);
}
.contact .contact_detail form h3{
    margin-top: 2rem;
    color: #fff;
    font-size: 2.5rem;
}
.blogs{
    background-color: black;
}
.blogs .blogs_heading{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: #fff;
    font-size: 2.5rem;
}
.blogs .blogs_content{
    display: flex;
    flex-wrap: wrap;
    background-color:black;
    margin: auto 100px;
    padding-bottom: 30px;
}
.blogs .blogs_content .box{
    height: 500px;
    width: 350px;
    border: 1px solid rgba(255,255,255,.3);
    margin-left: 20px;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
}
.blogs .blogs_content .box .image{
    width: 100%;
    overflow: hidden;
}
.blogs .blogs_content .box .image img:hover{
    cursor: pointer;
    transform: scale(1.2);
    
}
.blogs .blogs_content .box .content{
    padding: 2rem;
}
.blogs .blogs_content .box .content .title{
    font-size: 1.5rem;
    color: #fff;
    line-height: 1.5;
}
.blogs .blogs_content .box .content p{
    font-size: 1rem;
    line-height: 1.8;
    color: #ccc;
    padding: 1rem 0;
}
.blogs .blogs_content .box .content span {
    color: rgb(243, 157, 130);
    display: block;
    padding-top: 1rem;
    font-size: 1.2rem;
}
.blogs .blogs_content .box .content .btn{
    margin-top: 0.5rem;
    display: inline-block;
    padding: 0.5rem 2rem;
    font-size: 1.5rem;
    color: #fff;
    background: rgb(243, 157, 130);
    cursor: pointer;
}
.footer {
    background: #13131a;
    text-align: center;
}
.footer .share {
    padding: 1rem 0;
}
.footer .share a {
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    color: #fff;
    border: 1px solid rgba(255,255,255,.3);
    margin: 0.3rem;
    border-radius: 50%;
}
.footer .links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem 0;
    gap: 1rem;
}
.footer .links a {
    padding: 0.7rem 2rem;
    color: #fff;
    border: 1px solid rgba(255,255,255,.3);
    font-size: 2rem;
}



@media (max-width:991px){

    html{
        font-size: 55%;
    }

    .header{
        padding:1.5rem 2rem;
    }

    div{
        padding:2rem;
    }

}

@media (max-width:768px){

    #menu{
        display: inline-block;
    }

    .header nav{
        position: absolute;
        top:100%; right: -100%;
        background: #fff;
        width: 30rem;
        height: calc(100vh - 9.5rem);
    }

    .header .nav.active{
        right:0;
    }

    .header .nav a{
        color:var(--black);
        display: block;
        margin:1.5rem;
        padding:.5rem;
        font-size: 2rem;
    }

    .header .search-form{
        width: 90%;
        right: 2rem;
    }

    .home{
        background-position: left;
        justify-content: center;
        text-align: center;
    }

    .home .content h3{
        font-size: 4.5rem;
    }

    .home .content p{
        font-size: 1.5rem;
    }

}

@media (max-width:450px){

    html{
        font-size: 50%;
    }

}